<h1 class="header">Companies</h1>
<div *ngFor="let c of companies">
  <a routerLink="/companies/:{{c.id}}">{{ c.name }}</a>
</div>
<br>
<br>
<h3>Add a new company</h3>
<form>
    <label for = "nameInput">Name: </label>
    <input [(ngModel)] = "name" type = "text" placeholder = "name" name = "nameInput" required>
    <label for = "descriptionInput">Description: </label>
    <input [(ngModel)]="description" type = "text" placeholder="description" name = "desciptoinInput" required>
    <label for = "cityInput">City: </label>
    <input [(ngModel)]="city" type = "text" placeholder = "city" name = "cityInput" required>
    <label for = "addressInput">Address: </label>
    <input [(ngModel)]="address" type = "text" placeholder="address" name = "addressInput" required>
    <button (click) = "addCompany()" style="margin-left:10px ;">Add</button>
</form>
